html, body, #wrapper {
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
}
html, body, div, iframe, p, audio, video {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

#wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-content: stretch;
}

#player .controls {
    margin: 0.2em;
}

#content {
    flex: 1;
    flex-shrink: 1;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    align-content: stretch;
}
#player {
    flex-grow: 0;
}
#player.big {
    flex-grow: 1;
    min-height: 5em;
    height: 25%;
    overflow: auto;
}
#player video, #player audio {
    display: block;
    width: 100%;
}
#player video {
    /*height: 100%;*/
}

